#search-form {
  display: grid;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 50px;
}

input {
  width: 150px;
  height: 30px;
  padding: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  list-style: none;
}

.stats {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.stats-item {
  margin-right: 15px;
}

.more {
  width: 100px;
  height: 40px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.more:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
